extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Conventions and rules
      h4
        | In order for our writing to feel as if it comes from a single entity it is necessary to follow a set of conventions and rules.
    hr
    article
      h3.title-strong
        | Capitalization
      .do-dont-container.do-dont-container-full-width
        .do-column
          .do-dont-title
            h6
              i.material-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            ul
              li
                strong
                  | Use sentence case:
                p
                  | Sentence case is the technique of capitalizing the first letter of the first word in the heading, button, or text element.
                p
                  strong
                    | Example: 
                  | "This is a sentence case title"
              li
                strong
                  | Capitalize proper nouns: 
                p
                  | Proper nouns such as: London, Nuremberg, etc, should always be capitalized.
                p
                  strong
                    | Example: 
                  | "Join our  #{config.brandName} workshop in our London offices."
              li
                strong
                  | Capitalize/uppercase products and teams names:
                p
                  | Products names such as: SUMA, CaaSP, SLES, etc, should always be capitalized.
                p
                  strong
                    | Example: 
                  | "Download Apache2 on the SUMA server."
    hr.transparent
    article
      h3.title-strong
        | Using commas
      .do-dont-container.do-dont-container-full-width
        .do-column
          .do-dont-title
            h6
              i.material-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            ul
              li
                strong
                  | Use serial commas (also known as the Oxford comma):
                p
                  | In a series of three or more items, use a comma before the final "and", or "or."
                p
                  strong
                    | Example: 
                  | "In order to perform this action you will need your username, password, and email address."
              li
                strong
                  | Use commas to separate two independent clauses:
                p
                  | When a coordinating conjunction (and, but, or, nor, for, 
                  | so, or yet) separates two independent clauses, insert a 
                  | comma after the first clause (before the conjunction) 
                  | unless both clauses are very short.
                p
                  strong
                    | Example: 
                  | "You can perform this action, but you will need to create the variable."
    hr.transparent
    article
      h3.title-strong
        | Using periods
      .do-dont-container.do-dont-container-full-width
        .do-column
          .do-dont-title
            h6
              i.material-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            ul
              li
                strong
                  | Use periods to end most list items:
                p
                  | Except for the term of a description list (dt), end all list items with a period.
                p
                  strong
                    | Example:
                  br
                  | &#9642; Protect workloads across globally distributed data centers.
                  br
                  | &#9642; Use multi-tenancy to manage geo clusters per business needs.
                  br
                  | &#9642; Achieve maximum protection for workloads.
                  br
                  | &#9642; Comply with industrial regulations.
              li
                strong
                  | When a period immediately follows a URL (or a file path), 
                  | it can be hard to tell whether the period is part of the URL.
                p
                  | To indicate that the punctuating period isn't part of the URL, 
                  | try one of the following techniques:
                  ul
                    li
                      | Whenever possible, avoid putting URLs in text.
                      p
                        strong
                          | Example: 
                        | For more information 
                        a.btn-link(href='#')
                          | visit the helpdesk
                        | .
                    li
                      | Rewrite the sentence so that the URL isn't at the end of the sentence.
                      p
                        strong
                          | Example: 
                        | Visit the helpdesk page 
                        a.btn-link(href='#')
                          | https://www.suse.com/helpdesk
                        |  for more information.
                    li
                      | Put the URL on a separate line from the text, omitting the final period.
                      p
                        strong
                          | Example:
                          br
                        | Check the link below for more information:
                        br
                        a.btn-link(href='#')
                          | https://www.suse.com/helpdesk
              li
                strong
                  | Use a period to signal the end of a text element in normal body copy.
                p
                  | In general, do not use punctuation at the end of a headline, 
                  | button label, checkbox or radio button label, tooltip, or navigation element.
                p
                  strong
                    | Example: "This is a normal body copy using a period to signal the end of a text."
    hr.transparent
    article
      h3.title-strong
        | Using colons, dashes, and hyphens
      .do-dont-container.do-dont-container-full-width
        .do-column
          .do-dont-title
            h6
              i.material-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            ul
              li
                strong
                  | Use a colon instead of a dash in a list:
                p
                  | Use a description list or a colon to seperate the term and definitions in lists.
                p
                  strong
                    | Example using description list:
                  dl
                    dt
                      | Open Source
                    dd
                      | Open to us means more than shared source code. It’s a philosophy and approach that 
                      | informs everything we do.
                p
                  strong
                    | Example of definition without description list: 
                  br
                  | "Step 1: Installation"
              li
                strong
                  | Use a dash to indicate a range of numbers. 
                p
                  | Don't add words such as "from", "to", "and", or "between".
                p
                  strong
                    | Example: 
                  | "10-20 files." 
              li
                strong
                  | Never place spaces around hyphens or dashes.
                p
                  strong
                    | Example: 
                  | "up-to-date, user-friendly"
