/* Colors
   ========================================================================== */
/* Variables file: assets/stylesheets/components/colors/colors.variable.scss */
.colors-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: $xl;

  &:last-of-type {
    margin-bottom: 0;
  }

  /* Single color wrap */
  .color-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $color-wrap-margin;
    width: $color-content-max-width;

    /* Color title */
    .color-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;

      h4,
      p {
        margin-bottom: $xs;
      }

      h4 {
        color: $color-title;
      }

      p {
        color: $color-description;
        margin-top: $color-title-p-margin-top;
      }
    }

    .used-for {
      p {
        color: $color-description;
        margin: $color-used-for-p-margin;
      }
    }

    .color-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: $color-content-max-width;
    }

    /* Define right row */
    .color-all {
      display: flex;
      flex-direction: column;
    }

    /* Define right columns */
    .color-top,
    .color-bottom {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    /* Define shader square */
    .color {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: $shade-box-size;
      justify-content: center;
      transition: transform .2s ease;
      width: $shade-box-size;

      span {
        display: none;
        font-weight: 700;
        text-align: center;

        .hex {
          font-size: $hex-title-size;
          font-weight: 300;
        }
      }

      &:hover {
        box-shadow: $shade-box-shadow;
        cursor: pointer;
        transform: scale(1.3);
        transition-duration: .1s;

        span {
          display: block;
        }
      }

      &:active {
        transform: scale(1.6);
      }
    }

    .color-top {
      flex-direction: row-reverse;
    }

    /* Define left row */
    .color-500 {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: $shader-color-size;
      font-weight: 700;
      height: auto;
      justify-content: center;
      min-width: 100px;
      transition: transform .2s ease;
      width: 100%;

      &:hover {
        box-shadow: $shade-box-shadow;
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: .1s;
      }

      &:active {
        transform: scale(1.3);
      }

      span {
        display: block;
        font-size: $hex-title-size;
        font-weight: 200;
      }
    }

    .color-solo {
      .color-solo-box {
        align-items: center;
        display: flex;
        height: $color-content-max-height;
        justify-content: center;
        margin-top: $m;
        width: $color-content-max-width;

        &.white {
          border: 1px solid $color-solo-border;
        }

        &.black {
          background-color: $color-solo-background;
          color: $color-solo-color;
        }

      }
    }
  }
}

/* Define colors wrap color */
.bc-green,
.bc-orange,
.bc-cerulean,
.bc-yellow,
.bc-gray {
  color: $color-collection-title-dark;
}

.bc-blue,
.bc-violet,
.bc-red {
  color: $color-collection-title-light;

  p {
    color: $color-collection-description;
  }
}

/* Map the shaders to the color variable. */
$colors-collection: (
  green: (100: $bc-green-100, 200: $bc-green-200, 300: $bc-green-300, 400: $bc-green-400, 500: $bc-green-500, 600: $bc-green-600, 700: $bc-green-700, 800: $bc-green-800, 900: $bc-green-900),
  blue: (100: $bc-blue-100, 200: $bc-blue-200, 300: $bc-blue-300, 400: $bc-blue-400, 500: $bc-blue-500, 600: $bc-blue-600, 700: $bc-blue-700, 800: $bc-blue-800, 900: $bc-blue-900),
  orange: (100: $bc-orange-100, 200: $bc-orange-200, 300: $bc-orange-300, 400: $bc-orange-400, 500: $bc-orange-500, 600: $bc-orange-600, 700: $bc-orange-700, 800: $bc-orange-800, 900: $bc-orange-900),
  cerulean: (100: $bc-cerulean-100, 200: $bc-cerulean-200, 300: $bc-cerulean-300, 400: $bc-cerulean-400, 500: $bc-cerulean-500, 600: $bc-cerulean-600, 700: $bc-cerulean-700, 800: $bc-cerulean-800, 900: $bc-cerulean-900),
  violet: (100: $bc-violet-100, 200: $bc-violet-200, 300: $bc-violet-300, 400: $bc-violet-400, 500: $bc-violet-500, 600: $bc-violet-600, 700: $bc-violet-700, 800: $bc-violet-800, 900: $bc-violet-900),
  red: (100: $bc-red-100, 200: $bc-red-200, 300: $bc-red-300, 400: $bc-red-400, 500: $bc-red-500, 600: $bc-red-600, 700: $bc-red-700, 800: $bc-red-800, 900: $bc-red-900),
  yellow: (100: $bc-yellow-100, 200: $bc-yellow-200, 300: $bc-yellow-300, 400: $bc-yellow-400, 500: $bc-yellow-500, 600: $bc-yellow-600, 700: $bc-yellow-700, 800: $bc-yellow-800, 900: $bc-yellow-900),
  gray: (100: $bc-gray-100, 200: $bc-gray-200, 300: $bc-gray-300, 400: $bc-gray-400, 500: $bc-gray-500, 600: $bc-gray-600, 700: $bc-gray-700, 800: $bc-gray-800, 900: $bc-gray-900)
);

@each $label, $map in $colors-collection {
  .bc-#{$label} {

    @each $key, $value in $map {
      $bg: #{$value};

      .color-#{$key} {
        background: $bg;
      }
    }
  }
}
