/* How to use variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$example-1-background: $bc-black;
$example-1-color: $bc-white;
$example-2-border: $bc-gray-500;
$example-2-color: $bc-gray-900;
$example-3-background: $bc-violet-500;
$example-3-color: $bc-white;
$example-4-background: $bc-cerulean-500;
$example-4-color: $bc-black;
$example-5-border: $bc-gray-500;
$example-5-color: $bc-gray-900;
$example-5-span: $bc-cerulean-900;
$example-6-background: $bc-green-500;
$example-6-color: $bc-white;
$example-6-span: $bc-blue-500;
$example-7-background: $bc-blue-500;
$example-7-color: $bc-white;
$example-7-span: $bc-green-500;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$how-to-max-width: 400px;
$how-to-p-size: $l - 4;
$how-to-usage-example-margin-top: $m;
$how-to-title-p-margin-top: $s;
$how-to-wrap-p-padding: $m;
$how-to-wrap-span-margin-left: $xs;
