doctype html
html
  head
    title= title
    meta(name='description', content= description)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/spacewalk-font/spacewalk-font.css')
    link(rel='stylesheet', href='/build/css/vendors.min.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='/build/js/vendors.min.js')
    script(src='/javascripts/application.min.js')
    //- Scripts not executed on development
    - if ( process.env.NODE_ENV != 'development' && locals.config.enableGTM) {
      script(src='/javascripts/shared/gtm-head.js')
    - }
    //- Scripts not executed on production
    - if ( process.env.NODE_ENV === 'staging') {
      script(src='/javascripts/shared/eos-announcement.js')
    - }

  body
    include ../shared/eos-announcement/announcement.pug
    include ../shared/gtm-body.pug
    //- Show the Staging alert on staging ENV
    - if ( process.env.NODE_ENV == 'staging') {
      include ../shared/banner-alerts/beta-access.pug
    - }
    include ../shared/menu/menu-layout.pug
    include ../shared/menu/mobile-menu-layout.pug
    section.content
      include ../shared/menu/submenu.pug
      block content
    include ../shared/back-to-top/back-to-top.pug
    include ../shared/footer/footer-content.pug
    - if (locals.config.showFeedbackTool) {
      include ../shared/feedback-tool/feedback-tool.pug
    - }
