doctype html
html
  head
    title= title
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    link(rel='stylesheet', href='/build/css/vendors.min.css')
    link(rel='stylesheet', href='/stylesheets/application-landing.css')
    script(src='/build/js/vendors.min.js')
    script(src='/javascripts/application-landing.min.js')
    //- Scripts not executed on development
    - if ( process.env.NODE_ENV != 'development') {
      script(src='/javascripts/shared/gtm-head.js')
    - }
    //- Scripts not executed on production
    - if ( process.env.NODE_ENV === 'staging') {
      script(src='/javascripts/shared/eos-announcement.js')
    - }
  body
    include ../shared/eos-announcement/announcement.pug
    include ../shared/gtm-body.pug
    block content
