nav.main-menu
  .row
    .col-md-4.col-sd-12
      img.logo(src='/images/landing/logo-colors.svg')
      img.logo(src='/images/landing/logo-white.svg')
      a.landing-mobile-burger
        i.material-icons.md-18
          | menu

    .col-md-8.col-sd-12.text-right.mobile-submenu-landing
      a.btn.btn-link.smoothScroll(data-linkto='js-eos')
        | What is EOS
      a.btn.btn-link.smoothScroll(data-linkto='js-features')
        | Features
      a.btn.btn-link.smoothScroll(data-linkto='js-contact')
        | Contact
      //- a.btn.btn-link(href='http://uxui.suse.de', target='_blank')
      //-   | The team
      a.btn.btn-default.get-started(href='/dashboard')
        | Check out SUSE DS
