/* Links
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$active-color: $bc-white;
$active-border-radius: 0 $base-border-radius-size $base-border-radius-size 0;
$active-hover-color: $bc-white;
