ul.steps-progress-bar
  li.brand-voice-icon
    a(href='brand-voice')
      p
        | Brand voice
      .steps-wrapper
        span
          | 1
  li.brand-tone-icon
    a(href='brand-tone')
      p
        | Brand tone
      .steps-wrapper
        span
          | 2
  li.ux-writing-icon
    a(href='ux-writing')
      p
        | UX writing
      .steps-wrapper
        span
          | 3
