/* Changelog variables
  ========================================================================== */
$changelog-box-right-border: 1px solid #eee;
$changelog-box-right-p-color: $bc-cerulean-900;
$changelog-box-inactive-img-opacity: 0.3;
$changelog-box-inactive-color: $bc-gray-100;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$changelog-box-margin-top: $xl;
$changelog-box-left-img-margin-right: $s + 2;
$changelog-box-left-img-width: $xxl + 2;
$changelog-box-right-padding: 0 $s + 2;
