.changelog-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $changelog-box-margin-top;

  &:hover {
    cursor: pointer;
  }

  &-left {
    img {
      margin-right: $changelog-box-left-img-margin-right;
      width: $changelog-box-left-img-width;
    }
  }

  &-right {
    border-left: $changelog-box-right-border;
    padding: $changelog-box-right-padding;

    p {
      color: $changelog-box-right-p-color;
    }

    h5,
    p {
      margin: 0;
    }
  }

  &-inactive {
    img {
      opacity: $changelog-box-inactive-img-opacity;
    }

    h5,
    p {
      color: $changelog-box-inactive-color;
    }
  }
}
