/* Label styles
   ========================================================================== */
/* Variables file: assets/stylesheets/components/label/labels.variable.scss */
.label {
  display: inline-block;
  margin-top: $label-margin-top;
}

.label-default {
  font-size: $label-default-font-size;
  font-weight: normal;
  margin: $label-default-margin;
}
