/* Footer variables
   ========================================================================== */
$footer-content-border-top: 1px solid #f4f4f4;
$footer-content-boxshadow: 0px -2px 3px rgba(226, 226, 226, 0.11);
$footer-side-menu-width: 100%;
$footer-collapsed-height: 40px;

/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$footer-side-menu-color: $bc-blue-700;
$footer-side-menu-text-color: $bc-white;
$footer-content-color: $bc-gray-500;
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$footer-side-menu-font-size: $s + 4;
$footer-padding: $s $m;
$footer-list-padding: 0 $s;
$footer-list-image: $m + 2;
$footer-margin-collapsed-menu: $xxxl - 4
