extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Icon buttons
      h4
        | There are a lot of benefits of using icon buttons. Icons accompanied by labels make 
        | information easier to find and scan. Only icon buttons can be compact enough to allow 
        | toolbars, tables, and so on to display many icon buttons in a relatively small space. 

    hr
    article
      section.margin-top-xxl
        h3.title-strong
          | Buttons with icon
        p
          | Using icons in buttons can help to enhance the UX. Add an icon inside any style button 
          | with a label. Place the icons before label in order for users to see them first.
        p
          | Add EOS-icons or material design icon inside any style of button to create a button 
          | with an icon.
        .implementation-example
          .result
            button.btn.btn-default
              i.material-icons.md-18
                | autorenew
              | Button
            button.btn.btn-primary
              i.material-icons.md-18
                | autorenew
              | Button
            button.btn.btn-outline-primary
              i.material-icons.md-18
                | autorenew
              | Button
            button.btn.btn-danger
              i.material-icons.md-18
                | autorenew
              | Button
          pre.prettyprint
            code
              | &lt;button class='btn btn-default'&gt;
              |   &lt;i class='material-icons md-18'&gt;autorenew&lt;/i&gt;Button
              | &lt;/button&gt;
              | &lt;button class='btn btn-primary'&gt;
              |   &lt;i class='material-icons md-18'&gt;autorenew&lt;/i&gt;Button
              | &lt;/button&gt;
              | &lt;button class='btn btn-primary'&gt;
              |   &lt;i class='material-icons md-18'&gt;autorenew&lt;/i&gt;Button
              | &lt;/button&gt;
              | &lt;button class='btn btn-danger'&gt;
              |   &lt;i class='material-icons md-18'&gt;autorenew&lt;/i&gt;Button
              | &lt;/button&gt;

      section.margin-top-xxl
        h3.title-strong
          | Only icon buttons
        p
          | If an icon button has no label be sure to use a tooltip to offer some short  
          | explanation of the buttons purpose.
        p
          | You can create an icon-only button, by adding an EOS or Material
          | design icon inside any style of button without a text label.
        .implementation-example
          .result
            button.btn.btn-default.js-tooltip(data-toggle='tooltip', title='Add')
              i.material-icons.md-18
                | add
            button.btn.btn-primary.js-tooltip(data-toggle='tooltip', title='Edit')
              i.material-icons.md-18
                | create
            button.btn.btn-outline-primary.js-tooltip(data-toggle='tooltip', title='Refresh')
              i.material-icons.md-18
                | autorenew
            button.btn.btn-danger.js-tooltip(data-toggle='tooltip', title='Delete')
              i.material-icons.md-18
                | delete
          pre.prettyprint
            code
              | &lt;button class='btn btn-default'&gt;
              |   &lt;i class='material-icons md-18'&gt;add&lt;/i&gt;
              | &lt;/button&gt;
              | &lt;button class='btn btn-primary'&gt;
              |   &lt;i class='material-icons md-18'&gt;create&lt;/i&gt;
              | &lt;/button&gt;
              | &lt;button class='btn btn-outline-primary'&gt;
              |   &lt;i class='material-icons md-18'&gt;autorenew&lt;/i&gt;
              | &lt;/button&gt;
              | &lt;button class='btn btn-danger'&gt;
              |   &lt;i class='material-icons md-18'&gt;delete&lt;/i&gt;
              | &lt;/button&gt;
