extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Buttons
      h4
        | Buttons are elements used to perform actions such as submitting a form, 
        | opening a dialog, or cancelling an action. They are an essential element 
        | of interaction design and have a primary role in the conversation between a user and the system.

      h4 
        | There are a number of options you can use when styling a button, such as size, colour, 
        | and disabled state.
    hr
    article
      section.margin-top-xxl
        h3.title-strong
          | Button vs. link
        p
          | The HTML elements for buttons and links describe a very specific type of action that is 
          | going to be taken when they are used. However, it is important to know when to use one or 
          | the other in a specific situation:
        ul.list-no-padding
          li
            | Use links for navigating to other pages.
          li
            | Use buttons for performing an action, such as: “submit,” “merge,” “create new,”
            | “upload,” etc. These actions almost always occur on the same page.

        h3.title-strong
          | Default button
        p
          | A default button is the standard button with basic style and the most commonly used option.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li(role='presentation')
            a(href='#default-button-css-snippet', aria-controls='default-button-css-snippet', role='tab', data-toggle='tab') 
              | CSS code snippet
          li.active(role='presentation')
            a(href='#default-button-examples', aria-controls='default-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
        .tab-content
          #default-button-css-snippet.tab-pane(role='tabpanel')
            pre.prettyprint
              code
                | /* Button */
                | .btn { 
                |   border-radius: 2px; 
                |   font-weight: bold;
                |   line-height: 18px;
                |   padding: 8px 16px;
                | }
                |
                | .btn:active,
                | .btn.active {
                |   box-shadow: none;
                | }
                |
                |/* Default button */
                | .btn-default {
                |   background-color: transparent;
                |   border-color: $sb-gray-900;
                |   color: $sb-gray-900;
                | }
                |
                | .btn-default:hover,
                | .btn-default:active:hover {
                |   background-color: transparent;
                |   border-color: $sb-gray-600;
                |   color: $sb-gray-600;
                | }
                |
                | .btn-default:active,
                | .btn-default.active,
                | .btn-default:focus,
                | .btn-default.focus,
                | .btn-default.active.focus,
                | .btn-default.active:focus,
                | .btn-default:active:focus,
                | .btn-default:active.focus {
                |   background-color: transparent;
                |   border-color: $sb-gray-500;
                |   color: $sb-gray-500;
                | }
                |
                | .btn-default.disabled,
                | .btn-default.disabled:hover,
                | .btn-default.disabled:focus {
                |   background-color: transparent;
                |   border-color: $sb-gray-900;
                |   color: $sb-gray-900;
                |   opacity: .60;
                | }
              
          #default-button-examples.tab-pane.active(role='tabpanel')
            h6.title-strong
              | Implementation example of default button
            .implementation-example
              .result
                button.btn.btn-default
                  | Button
                button.btn.btn-default.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-default'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-default disabled'&gt;Button&lt;/button&gt;

      section.margin-top-xxl
        h3.title-strong
          | Inverse
        p
          | Use the inverse button when you want to place a default button on a dark background.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li(role='presentation')
            a(href='#inverse-button-css-snippet', aria-controls='inverse-button-css-snippet', role='tab', data-toggle='tab') 
              | CSS code snippet
          li.active(role='presentation')
            a(href='#inverse-button-examples', aria-controls='inverse-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
        .tab-content
          #inverse-button-css-snippet.tab-pane(role='tabpanel')
            pre.prettyprint
              code
                | /* Button */
                | .btn { 
                |   border-radius: 2px; 
                |   font-weight: bold;
                |   line-height: 18px;
                |   padding: 8px 16px;
                | }
                |
                | .btn:active,
                | .btn.active {
                |   box-shadow: none;
                | }
                |
                |/* Default button inverse */
                | .btn-default-inverse {
                |   background-color: transparent;
                |   border-color: $sb-white;
                |   color: $sb-white;
                | }
                |
                | .btn-default-inverse:hover,
                | .btn-default-inverse:active:hover {
                |   border-color: $sb-gray-200;
                |   color: $sb-gray-200;
                | }
                |
                | .btn-default-inverse:active,
                | .btn-default-inverse.active,
                | .btn-default-inverse:focus,
                | .btn-default-inverse.focus,
                | .btn-default-inverse.active.focus,
                | .btn-default-inverse.active:focus,
                | .btn-default-inverse:active:focus,
                | .btn-default-inverse:active.focus {
                |   border-color: $sb-gray-400;
                |   color: $sb-gray-400;
                | }
                |
                | .btn-default-inverse.disabled,
                | .btn-default-inverse.disabled:hover,
                | .btn-default-inverse.disabled:focus {
                |   border-color: $sb-white;
                |   color: $sb-white;
                |   opacity: .55;
                | }
          #inverse-button-examples.tab-pane.active(role='tabpanel')
            h6.title-strong
              | Implementation example of inverse button
            .implementation-example
              .result.dark-bg
                button.btn.btn-default-inverse
                  | Button
                button.btn.btn-default-inverse.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-default-inverse'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-default-inverse disabled'&gt;Button&lt;/button&gt;

      section.margin-top-xxl
        h3.title-strong
          | Primary button
        p
          | A primary button is used for primary actions that are clearly more 
          | important and need attention drawn to it.
        p
          | The outlined version is the alternative to solid primary buttons. Use these buttons when 
          | actions are primary but don’t want to give extra visual weight.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li(role='presentation')
            a(href='#primary-button-css-snippet', aria-controls='primary-button-css-snippet', role='tab', data-toggle='tab') 
              | CSS code snippet
          li.active(role='presentation')
            a(href='#primary-button-examples', aria-controls='primary-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
        .tab-content
          #primary-button-css-snippet.tab-pane(role='tabpanel')
            pre.prettyprint
              code
                | /* Button */
                | .btn { 
                |   border-radius: 2px; 
                |   font-weight: bold;
                |   line-height: 18px;
                |   padding: 8px 16px;
                | }
                |
                | .btn:active,
                | .btn.active {
                |   box-shadow: none;
                | }
                |
                |/* Primary button */
                | .btn-primary {
                |   background-color: $sb-green-500;
                |   border-color: $sb-green-500;
                |   color: $sb-white;
                | }
                |
                | .btn-primary:hover,
                | .btn-primary:active:hover {
                |   background-color: $sb-green-900;
                |   border-color: $sb-green-900;
                |   color: $sb-white;
                | }
                |
                | .btn-primary:active,
                | .btn-primary.active,
                | .btn-primary:focus,
                | .btn-primary.focus,
                | .btn-primary.active.focus,
                | .btn-primary.active:focus,
                | .btn-primary:active:focus,
                | .btn-primary:active.focus {
                |   background-color: $sb-green-700;
                |   border-color: $sb-green-700;
                |   color: $sb-white;
                | }
                |
                | .btn-primary.disabled,
                | .btn-primary.disabled:hover,
                | .btn-primary.disabled:focus {
                |   background-color: $sb-green-500;
                |   border-color: $sb-green-500;
                |   color: $sb-white;
                |   opacity: .60;
                | }
                |
                |/* Outline primary button */
                | .btn-outline-primary {
                |   background-color: transparent;
                |   border-color: $sb-green-500;
                |   color: $sb-green-500;
                | }
                |
                | .btn-outline-primary:hover,
                | .btn-outline-primary:active:hover {
                |   border-color: $sb-green-900;
                |   color: $sb-green-900;
                | }
                |
                | .btn-outline-primary:active,
                | .btn-outline-primary.active,
                | .btn-outline-primary:focus,
                | .btn-outline-primary.focus,
                | .btn-outline-primary.active.focus,
                | .btn-outline-primary.active:focus,
                | .btn-outline-primary:active:focus,
                | .btn-outline-primary:active.focus {
                |   border-color: $sb-green-700;
                |   color: $sb-green-700;
                | }
                |
                | .btn-outline-primary.disabled,
                | .btn-outline-primary.disabled:hover,
                | .btn-outline-primary.disabled:focus {
                |   border-color: $sb-green-500;
                |   color: $sb-green-500;
                |   opacity: .60;
                | }
          #primary-button-examples.tab-pane.active(role='tabpanel')
            h6.title-strong
              | Implementation example of primary button
            .implementation-example
              .result
                button.btn.btn-primary
                  | Button
                button.btn.btn-outline-primary
                  | Button
                button.btn.btn-primary.disabled
                  | Disabled
                button.btn.btn-outline-primary.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-primary'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-outline-primary'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-primary disabled'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-outline-primary disabled'&gt;Button&lt;/button&gt;

      section.margin-top-xxl
        h3.title-strong
          | Danger button
        p
          | Use the danger button to indicate destructive or negative actions. For example, deleting
          | data.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li(role='presentation')
            a(href='#danger-button-css-snippet', aria-controls='danger-button-css-snippet', role='tab', data-toggle='tab') 
              | CSS code snippet
          li.active(role='presentation')
            a(href='#danger-button-examples', aria-controls='danger-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
        .tab-content
          #danger-button-css-snippet.tab-pane(role='tabpanel')
            pre.prettyprint
              code
                | /* Button */
                | .btn { 
                |   border-radius: 2px; 
                |   font-weight: bold;
                |   line-height: 18px;
                |   padding: 8px 16px;
                | }
                |
                | .btn:active,
                | .btn.active {
                |   box-shadow: none;
                | }
                |
                |/* Danger button */
                | .btn-danger {
                |   background-color: $sb-red-500;
                |   border-color: $sb-red-500;
                |   color: $sb-white;
                | }
                |
                | .btn-danger:hover,
                | .btn-danger:active:hover {
                |   background-color: $sb-red-900;
                |   border-color: $sb-red-900;
                |   color: $sb-white;
                | }
                |
                | .btn-danger:active,
                | .btn-danger.active,
                | .btn-danger:focus,
                | .btn-danger.focus,
                | .btn-danger.active.focus,
                | .btn-danger.active:focus,
                | .btn-danger:active:focus,
                | .btn-danger:active.focus {
                |   background-color: $sb-red-700;
                |   border-color: $sb-red-700;
                |   color: $sb-white;
                | }
                |
                | .btn-danger.disabled,
                | .btn-danger.disabled:hover,
                | .btn-danger.disabled:focus {
                |   background-color: $sb-red-500;
                |   border-color: $sb-red-500;
                |   color: $sb-white;
                |   opacity: .60;
                | }
          #danger-button-examples.tab-pane.active(role='tabpanel')
            h6.title-strong
              | Implementation example of danger button
            .implementation-example
              .result
                button.btn.btn-danger
                  | Button
                button.btn.btn-danger.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-danger'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-danger disabled'&gt;Button&lt;/button&gt;
