.feedback-tool {
  display: none;
  height: auto;
  left: $feedback-tool-left;
  position: fixed;
  top: $feedback-tool-top;
  width: $feedback-tool-width;
  z-index: $feedback-tool;

  @media screen and (max-width: $sd-min)  {
    left: $feedback-tool-left-sd;
  }

  @media screen and (min-width: $sd-min) and ( max-width: $sd-max)  {
    left: $feedback-tool-left-md;
  }

  &-card-header {
    align-items: center;
    background-color: $feedback-tool-card-header-background;
    color: $feedback-tool-card-header-color;
    display: flex;
    justify-content: space-between;
    padding: $feedback-tool-card-header-padding;
  }

  .feedback-tool-actions {
    i {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .card-content {
    p {
      margin: 0;
    }
  }

  textarea {
    border-color: $feedback-tool-text-area-border-color;
    font-size: $feedback-content-font-size;
    margin-top: $feedback-tool-text-area-margin-top;
    resize: none;
  }

  .message-length {
    color: $feedback-tool-card-message-length-color;
    font-size: $feedback-tool-card-message-length;
  }

  &-screenshoot {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: $feedback-content-margin-top;

    p {
      margin-left: $feedback-tool-screenshoot-p-margin-left;
      margin-top: 0;
    }

    input {
      margin: $feedback-tool-screenshoot-input-margin;
    }
  }

  &-attached-screenshoot {
    background-color: $bc-blue-400;
    border-radius: $feedback-tool-attached-screenshoot-border-radius;
    color: $feedback-tool-attached-screenshoot-color;
    display: flex;
    font-size: $feedback-content-font-size;
    justify-content: center;
    margin-top: $feedback-content-margin-top;
    padding: $feedback-tool-attached-screenshoot-padding;
  }

  &-steps {
    display: flex;
    justify-content: flex-end;
    margin-top: $feedback-content-margin-top;
  }

  /* Success page */
  &-success {
    &.card-content {
      align-items: center;
    }

    p {
      background: $feedback-tool-success-p-background;
      font-size: $feedback-content-font-size;
      padding: $feedback-tool-success-p-padding;
      text-align: center;
    }

    img {
      width: $feedback-tool-success-img-width;
    }

    button {
      margin-top: $feedback-content-margin-top;
    }
  }
}

/* Left button */
.feedback-tool-button {
  background-color: $feedback-tool-button-background;
  border: 0px;
  color: $feedback-tool-button-color;
  display: flex;
  height: $feedback-tool-button-size;
  justify-content: center;
  position: fixed;
  right: 0;
  top: $feedback-tool-button-top;
  width: $feedback-tool-button-size;

  i {
    margin: 0;
  }
}
