/* ==========================================================================
	Design specs
  ========================================================================== */
.design-specs {
  width: $design-specs-section-width;
}

/* ==========================================================================
  Report icons page
  ========================================================================== */
.report-full-width {
  @media screen and (min-width: $md-min) {
    min-width: 100%;
    width: auto;
  }
}
