/* Landing page animations: Bubbles
   ========================================================================== */
@keyframes bubble-fadeInUpLeft {
  from {
    left: 45px;
    opacity: 0;
    top: 15px;
  }

  to {
    left: 0;
    opacity: 1;
    top: 0;
  }
}

.bubble-fadeinupleft {
  animation-name: bubble-fadeInUpLeft;
}

@keyframes bubble-fadeInUpRight {
  from {
    opacity: 0;
    right: 45px;
    top: 15px;
  }

  to {
    opacity: 1;
    right: 0;
    top: 0;
  }
}

.bubble-fadeinupright {
  animation-name: bubble-fadeInUpRight;
}

@keyframes bubble-fadeInDown {
  from {
    bottom: 15px;
    left: 45px;
    opacity: 0;
  }

  to {
    bottom: 0;
    left: 45px;
    opacity: 1;
  }
}

.bubble-fadeindown {
  animation-name: bubble-fadeInDown;
}

@media screen and (max-width: $sd-max) {
  @keyframes bubble-fadeInUpLeft {
    from {
      left: 40px;
      opacity: 0;
      top: 0;
    }

    to {
      left: 20px;
      opacity: 1;
      top: 0;
    }
  }

  @keyframes bubble-fadeInUpRight {
    from {
      opacity: 0;
      right: 45px;
      top: 0px;
    }

    to {
      opacity: 1;
      right: 20;
      top: 0;
    }
  }

  @keyframes bubble-fadeInDown {
    from {
      bottom: 20px;
      left: 45px;
      opacity: 0;
    }

    to {
      bottom: 150px;
      left: 45px;
      opacity: 1;
    }
  }
}
