.cookies-alert-body {
  p {
    color: $cookies-alert-p-color;
    font-weight: 400;
    line-height: 21px;
    padding: $cookies-alert-p-padding;
  }
}

.cookies-alert-buttons {
  align-items: center;
  display: flex;


  .btn-primary {
    background-color: $js-cookies-accept-background-color;
    border-color: $js-cookies-accept-border-color;
    border-radius: 5px;
    color: $js-cookies-accept-color;
    padding: $cookies-alert-buttons-padding;
  }

  .btn-default {
    align-items: center;
    background-color: $cookies-alert-button-default-background-color;
    border-color: $cookies-alert-button-default-border-color;
    border-radius: 5px;
    color: $cookies-alert-button-default-color;
    display: flex;
    padding: $cookies-alert-buttons-padding;

    &:hover {
      background: $bc-gray-100;
    }
  }
}
