/* Landing page sections: Footer
   ========================================================================== */
footer {
  font-size: $footer-font;
  padding: $s 0;

  .landing-cookie-link {
    color: $footer-link-color;
  }
}
