/* Landing page variables
   ========================================================================== */
/* Import global variables */
@import '../base/variables/index.scss';

/* EOS landing page variables */
// colors
$eos-white: #fff;
$eos-gray: #ddd;
$eos-gray-dark: darken($eos-gray, 45%);
$eos-gray-darker: #333333;
$eos-orange-matt: #fe673a;

// EOS logo colors
$eos-light-orange: #ff980a;
$eos-dark-orange: #ff420a;
$eos-pink: #bc0289;
$eos-pink-orange: #ef5455;
$eos-blue: #35b9ab;
// Footer links
$bottom-links-background: #ff420a;
$bottom-links-background-mobile: #ff683b;


// layout
$aside-width: 250px;

// typography
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$font-type-base: 'Lato', sans-serif;
$font-size-base: 18px;
$font-weight-normal-base: 300;
$font-weight-bold-base: 700;
$font-weight-light-base: 300;

// paragraph
$line-height: $font-size-base * 1.5;

// layout
$body-bg: url('../images/landing/background.jpg');
$landing-pattern: url('../images/landing/pattern.png') repeat;
$landing-intro-bg: url('../images/landing/bg-intro.png');
$var-intro-bg:  $landing-pattern, $landing-intro-bg;
$var-bottom-links: $landing-pattern, $bottom-links-background;
$body-color: $eos-white;

// buttons
$btn-primary-bg: $eos-white;
$btn-primary-color: $eos-gray-dark;
$btn-primary-border: 1px solid transparent;
$btn-primary-bg-hover: $eos-pink;

$btn-default-bg: transparent;
$btn-default-color: $eos-white;
$btn-default-border: 1px solid $eos-white;

$btn-link-color: $eos-white;

$btn-round-border: 20px;

$btn-secondary-bg-hover: $eos-gray-darker;

/* Sections @TODO: move to independent files */
$introduction-marging-top: $xl * 2;
$introduction-strong-color: $eos-gray-darker;

$features-title-color: $eos-dark-orange;

$footer-font: 14px;

$feature-h3-zindex: $zindex-middle;

/* Mobile version */
// Introduction
$introduction-h3-font-size: $h3-font-size / 1.3;
$introduction-h2-font-size: $h2-font-size / 1.3;
$introduction-h1-font-size: $h1-font-size / 1.3;

// Features
$features-h3-font-size: $h3-font-size;
$features-p-font-size: $font-size-base;
$features-button-size-mobile: $font-size-base;;

// Cookies-alert
$js-cookies-accept-background-color: #337ab7;
$js-cookies-accept-border-color: #2e6da4;
$js-cookies-accept-color: $bc-white;
$cookies-alert-button-default-background-color: $bc-white;
$cookies-alert-button-default-color: #333;
$cookies-alert-button-default-border-color: #ccc;
$cookies-alert-p-color: #686565;
$cookies-alert-p-padding: $s;
$cookies-alert-buttons-padding: $xs + 2 $s + 4;

// eos-announcemen
$eos-announcement-h3-color: $bc-gray-900;

/* ==========================================================================
Footer
========================================================================== */
$footer-link-color: $bc-orange-500;
