#video-demo-1.modal.fade.video-modal(tabindex='-1', role='dialog', aria-labelledby='modal-video-label')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            i.material-icons.md-18
              | close
      .modal-body
        .modal-video
          video(controls='')
            source(src='https://res.cloudinary.com/eosdesignsystem/video/upload/v1533300617/EOS/videos/eos-icons-guides.mp4', type='video/mp4')
