.mobile-menu
  header
    a(href='/')
      img(src='/images/eos-logo.png')

    .burger-menu
      a
        i.material-icons.md-32
          | menu
  nav.display-nav
    //- Extend menu list mixin
    include  main-menu.pug
