/* Implementation example
   ========================================================================== */
/**
* Implementation example with code and UI result
*
* Variables file: assets/stylesheets/components/implementation-example/implementation-example.variable.scss
*/
.implementation-example {
  margin: $ie-vertical;

  .result {
    border: 1px solid $ie-result-default-border;
    border-bottom: 0;
    border-radius: $ie-border-radius-size $ie-border-radius-size 0 0;
    padding: $ie-result-padding;

    .btn {
      margin-right: $ie-btn-margin-right;
    }

    &.dark-bg {
      background: $ie-result-dark-color;
      border: 1px solid $ie-result-dark-color;
    }
  }

  .prettyprint {
    border: 0;
    border-radius: 0 0 $ie-border-radius-size $ie-border-radius-size;
  }
}
