/* Changelog page
  ========================================================================== */
$changelog-element-border: 1px solid #eee;
$changelog-element-new: $bc-green-500;
$changelog-element-impprovements: $bc-violet-500;
$changelog-element-fixes: $bc-yellow-500;
$changelog-element-date: $bc-gray-500;
$changelog-element-header-color: $bc-cerulean-500;

$changelog-element-padding: $xl 0;
$changelog-element-badge-border: 2px;
