/* Tabs
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's tabs
*
* Variables file: assets/stylesheets/components/tabs/tabs.variable.scss
*/
.tab-content {
  border-bottom: 1px solid $tabs-border-color;
  border-left: 1px solid $tabs-border-color;
  border-right: 1px solid $tabs-border-color;
  padding: $tabs-content-padding;
}

.nav-tabs.nav-justified,
.nav-tabs {
  margin-top: $tabs-margin-top;

  li {
    background: $tabs-inactive-bg;
    border-top: 3px solid $tabs-border-color;
    padding: 0;

    &:first-of-type {

      &.active {
        border-left: 1px solid $tabs-border-color;
      }
    }

    &:last-of-type {

      &.active {
        border-right: 1px solid $tabs-border-color;
      }
    }

    &.active {
      background: $tabs-active-bg;
      border-top: 3px solid $tabs-active-border-color;

      a,
      a:focus,
      a:hover {
        border: 0;
      }
    }

    a,
    a:hover {
      border: 0;
      border-radius: 0;
      color: $bc-gray-900;
      font-weight: bold;
    }
  }
}
