/* Do's & Dont's
   ========================================================================== */
/* Variables file: assets/stylesheets/components/do-dont/do-dont.variable.scss */
.do-dont-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $dd-padding;

  @media screen and (max-width: $sd-max) {
    flex-direction: column;
    padding: $dd-padding-mobile;
  }

  .do-column,
  .dont-column {
    background: $do-dont-bg;
    box-shadow: $box-shadow;
    flex: 1 0;
    margin: $dd-column-magin;
    padding: $dd-column-padding;

    @media screen and (max-width: $sd-max) {
      margin: $s 0;
    }

    &.half-width {
      flex: 50% 0;
    }

    ul {
      padding: $dd-column-ul-padding;
    }
  }

  .do-column {
    border-left: $do-column-border;

    .do-dont-title {
      color: $do-title;
    }
  }

  .dont-column {
    border-left: $dont-column-border;

    .do-dont-title {
      color: $dont-title;
    }

    @media screen and (max-width: $sd-max) {
      margin-top: $dd-dont-column-margin-mobile;
    }
  }

  .text-center {
    flex: 0 0 100%;
    margin-top: $dd-container-text-center-margin-top;
  }

  .do-dont-content {
    margin-left: $dd-content-margin-left;
  }

  &-full-width {
    padding: 0;

    @media screen and (max-width: $sd-max) {
      flex-direction: column;
      margin: $dd-container-margin-mobile;

      .col-xs-12  {
        margin-bottom: $dd-dont-full-width-do-dont;
        width: auto;
      }
    }
  }
}
