/* Card variables
   ========================================================================== */
/**
* Colors and borders
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
* Shadows variables: /assets/stylesheets/base/variables/shadows.scss
* $body-color: /assets/stylesheets/base/variables/layout.scss
*/
$card-bg: $bc-white;
$card-text: $body-color;
$card-box-shadow: $box-shadow;
$card-divider-color: $bc-gray-100;
$card-hover-box-shadow: 0 16px 32px rgba(0, 0, 0, .16);
$card-footer-color: $bc-cerulean-900;
$card-footer-disabled: $bc-gray-400;
$card-inactive-circle-gradient-from: $bc-gray-200;
$card-inactive-circle-gradient-to: $bc-gray-500;
$card-footer-disable-color: $bc-gray-500;


/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$card-hover-anim-height: $m;
$card-height: 400px;
$card-margin-bottom: $xl;
$card-padding: $m $l;
$card-footer-icon-margin: $s;
$card-figure-wrap-margin: $xl;

/* Horizontal card */
$card-horizontal-width: 490px;
$card-horizontal-height: 185px;

/* Vertical card */
$card-vertical-h3-margin-bottom: $m;
