/* Cards
   ========================================================================== */
/**
* Use it in HTML as (Card with text & image)
* <article class='articles-gallery'>
*   <div class='card-content'>
*     <header>
*       <h3> Card title</h3>
*     </header>
*     <p>
*       Card content
*     </p>
*     <div class='figure-wrap'>
*       <figure>
*         <img src='image url'>
*       </figure>
*     </div>
*     <footer>
*       Footer content
*     </footer>
*   </div>
* </article>
*
* Variables file: assets/stylesheets/components/card/card.variable.scss
*/
.card {
  background: $card-bg;
  box-shadow: $card-box-shadow;
  display: flex;
  flex-direction: column;
  height: $card-height;
  justify-content: space-between;
  margin-bottom: $card-margin-bottom;
  outline: none;
  transition: all 250ms ease-in-out;

  &-content,
  footer {
    padding: $card-padding;
  }

  /* Content wrapper */
  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;

    header {
      width: 100%;
    }
  }

  /* Image wrapper */
  .figure-wrap {
    // margin: $card-figure-wrap-margin;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  footer {
    background: $card-bg;
    border-top: 1px solid $card-divider-color;
    color: $card-footer-color;
    flex: 0;
    height: auto;

    i {
      margin-left: $card-footer-icon-margin;
    }

    &.disabled {
      color: $card-footer-disabled;
    }
  }

  /* Styles for card wrapped by anchor */
  &.clickable {
    color: $card-text;
    text-decoration: none;

    &:hover {
      box-shadow: $card-hover-box-shadow;
      transform: translate(0, -16px);

      &::before {
        content: '';
        height: $card-hover-anim-height;
        position: absolute;
        top: 100%;
        width: 100%;
      }
    }

    a {
      &:link,
      &:active,
      &:hover,
      &:focus,
      &:visited {
        color: $card-text;
        text-decoration: none;
      }
    }

    // overwrite Bootstrap inherit property
    h3 {
      color: $card-text;
    }
  }

  /* featured card styles */
  &.featured {
    position: relative;

    h3 {
      margin-top: 0;
    }

    footer {
      border-top: 0;
    }
  }

  &.disabled {
    figure.round {
      background-image: linear-gradient(130deg, $card-inactive-circle-gradient-from 0%, $card-inactive-circle-gradient-to 100%);
    }

    footer {
      color: $card-footer-disable-color;
    }
  }

  /* Horizontal card style
  ========================================================================== */
  &-horizontal {
    height: $card-horizontal-height;
    width: 100%;

    .card-content {
      display: flex;
      flex-direction: row;
      padding:  0;
    }

    header {
      padding: $l;
      padding-right: 0;
    }
  }


  /* Vertical card
  ========================================================================== */
  &-vertical {
    h3 {
      margin-bottom: $card-vertical-h3-margin-bottom;
    }
  }
}
