/* Icons UX
   ========================================================================== */
.icons-ux-alignment {

  .material-icons {
    float: left;
    margin-right: $icons-ux-margin-right;
    margin-top: $icons-ux-margin-top;
  }

  .vertical-align-icon {
    margin-top: $icons-ux-vertical-align-icon;
  }

  .vertical-content {
    float: left;
    width: 80%;

    > h4,
    p {
      margin: 0;
    }
  }
}
