extends ../layouts/layout-main

block content
  .container
    section
      h1
        | EOS icons extended and animated
      h4
        | All the icons you will ever need, in one iconic font, one css class, one dependency.
    hr
    article
      section.margin-top-xxl
        p
          | We heard you and this article is all about celebrating a new milestone in EOS-icons V2 which now includes not only the animated icons in it, but also an extended version with Material Icons. All-in-one.
        p
          | With the new version of eos-icon, that you can already 
          a(target='_blank', href='https://www.npmjs.com/package/eos-icons') 
            | upgrade to via npm
          | , you only need eos-icons in your code base, and all 
          a(target='_blank', href='https://suse-uiux.gitlab.io/eos-icons/') 
            | eos-icons 
          | and 
          a(target='_blank', href='https://material.io/tools/icons/') 
            | Material Icons 
          | will be available under the 
          code
            |eos-icons
          |
          | class using ligatures, as always.
        p
          | On top of that, we also included 2 animated icons that use only css animations. For now they are the `installing` and `loading` icons, but we plan on continuing this work, improving the performance and variety of animated icons.
      section.margin-top-xxl
        h3.title-strong
          | What else changed in eos-icons v2.0.1?
        p
          | This new version of eos-icons also includes a bunch of new icons, specially, we focused on merging all the relevant 
          a(target='_blank', href='https://github.com/cyntss/Spacewalk-Fonts')
            | icons 
          | created for the 
          a(target='_blank', href='https://spacewalkproject.github.io/')
            | Spacewalk project 
          | some years ago and include them in eos-icons. We also included a few other icons requested by other developers and open source projects. 
        p
          | Some icons got renamed and also removed. The team behind EOS decided that we will not include any brand of any type in eos-icons, so that means no logo icons. Our goal is to keep this iconic font strictly functional and strictly not marketing related. Logos of partners or social networks the company uses should be provided by the design system rather than the eos-icons set.
          br
          | Eos-icons is open source, free for everyone to use. We keep that clear. 
        p
          | To know more about all the new icons, changed and removed ones, please visit the 
          a(target='_blank', href='https://gitlab.com/SUSE-UIUX/eos-icons/tags/v2.0.0')
            | release note.
      section.margin-top-xxl
        h3.title-strong
          | Do you need an icon?
        p
          | If you would like to suggest an icon design, please open an 
          a(target='_blank', href='https://gitlab.com/SUSE-UIUX/eos/issues')
            | issue in Gitlab 
          | and we can either take care of it or receive your contribution as long as the icon follows the 
          a(target='_blank', href='https://gitlab.com/SUSE-UIUX/eos/wikis/Icon-design-guide')
            | icon design guides.
