extends ../layouts/layout-main

block content
  .container
    section
      h1
        | How to use the color palettes
      h4
        | Whether designing new components and UI elements, or simply re-branding 
        | an application, follow these simple rules to consistently use 
        | and combine the color palettes for text, backgrounds, and links.
    hr

    article
      h3
        | Text on monochromatic backgrounds
      p
        | The text color must be white on black backgrounds. 
        | On white backgrounds the text color must be the darkest shade of gray.

      .usage-example
        .title
          h5
            | #686565
          p
            | $bc-gray-900
        .wrap.white-gray
          p
            | Default text color on white
      .usage-example
        .title
          h5
            | #FFFFFF
          p
            | $bc-white
        .wrap.black-white
          p
            | Default text color on black
    article
      h3.margin-top-xxl
        | Text on colored backgrounds
      p
        | Always use white as text color on colored backgrounds. If the 
        a(href='#contrast')
          | contrast   
        | between white text and the background fails, use black as
        | text color.

      .usage-example
        .title
          h5
            | #FFFFFF
          p
            | $bc-white
        .wrap.white-violet
          p
            | Text on colored backgrounds
      .usage-example
        .title
          h5
            | #000000
          p
            | $bc-black
        .wrap.black-cerulean
          p
            | Text on colored backgrounds

    article
      h3.margin-top-xxl
        | Link colors
      p
        | The darkest shade (900) of the 
        strong
          | SUSE cerulean 
        | color is the default color for links.
      .usage-example
        .title
          h5
            | #008ACF
          p
            | $bc-cerulean-900
        .wrap.cerulean-white
          p
            | This is the default 
            a
              | link color

      p.margin-top-xxl
        | When the color  
        a(href='#contrast')
          | contrast   
        | fails between the $bc-cerulean-900 and the element's background, use the default (500) SUSE blue color.
      .usage-example          
        .title
          h5
            | #00243E
          p
            | $bc-blue-500
        .wrap.blue-green
          p
            | Link on colored 
            a
              | background

      h5.title-strong.margin-top-xxl
        | Special use case
      p
        | When the element's background uses 
        strong 
          | SUSE blue 
        | (one of the two primary colors), the primary 
        strong
          | SUSE green 
        | color should be used as link color.
      .usage-example         
        .title
          h5
            | #00C081
          p
            | $bc-green-500
        .wrap.green-blue
          p
            | Primary color background 
            a
              | with primary color link
    hr
    article#contrast
      h3
        | Color contrast
      p
        | When chosing colors take into account the contrast ratio of the foreground to background color. The W3C created guidelines for exactly this purpose (WCAG 2.0). These require that text uses adequate contrast for visually impaired people.
      p 
        | WCAG 2.0 Level AA (standard) requires a contrast ratio of at least 4.5:1 for normal text (14px) and 3:1 for larger text (~18px). This level represents people with 20/40 vision (typical visual acuity of elders at roughly age 80).
      p
        | While our software should be usable by people with slightly impaired vision, we have made certain exceptions in order to express our brand properly while taking into account the overall effect on the usability and accesability of our products.

      h5.margin-top-xxl
        | How to check the contrast ratio
      p
        | The most common tool is   
        a(href='http://contrast-ratio.com/#%23333-on-white', target='_blank')
          | contrast-ratio.com  
        | where you can check the contrast ratio between two colors.
